<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/assets/styles/main.css" />
</head>
<body>
    <header><h1>Nature of America</h1></header>
    {{ content }}
    <footer><p>This is an example used in the course CSCI E-114</p></footer>
</body>
</html>