---
layout: "base"
---
<main>
<h2>{{ title }}</h2>    
{{ content }}

<h3>Stamp Pane</h3>
<div class="paneimage">
  <img
    src="/assets/images/sn{{ sn }}.png"
    alt="Pane of stamps for {{ title }}" />
</div>

</main>